<div class='px-3 link-container <%= @navigation_name == "message" ? 'active' : '' %>'>
  <a
    class='w-100 d-flex align-items-center text-align-left py-2'
    href='#'
    data-toggle='collapse'
    data-target='#message'
    aria-expanded='true'
    aria-controls='message'
  >
    <i class="fas fa-comment-alt mr-3 icon"></i>
    Messages
  </a>
  <div
    id='message'
    class='collapse px-5'
    aria-labelledby='headingOne'
    data-parent='#accordion'
  >
    <a href="/message" class='d-block pl-2 pb-3'>
      All
    </a>
  </div>
</div>
