<div class="container-fluid bg-white">
  <div class="container main-page  " style="background-color: white">
    <div class="p-3">
      <div class="shadow container border rounded mt-2 py-5 px-4">
        <img src="images/about-us.png" class="w-100">
      </div>
    </div>
  </div>
</div>
