<div class="container-fluid bg-white">
  <div class="container main-page  " style="background-color: white">
    <div class="p-3">
      <div class="shadow container border rounded mt-5 py-5 px-4">
        <img src="/images/logo.jpg" style="width: 100%; max-width: 300px; display: block; margin: 0 auto">
        <h1 class="h1 mb-5 text-center mt-3">About</h1>
        <h1 class="h2">Who we are?</h1>
        <p>We're a women production of that produces fish products. we're been helping womens who aim to earn for their daily income, and also we did build a business where we sell different fish products. Our team is made up of passionate and skillful people that are determine about making and selling our products.</p>
        <h1 class="h2 pt-5">Our purpose?</h1>
        <p>To provide work for those women who wanted to do a job and  earn for their own money for them to provide for their family.
          Our team wanted to produce our product not only in pangasinan but aiming to produce nationwide.</p>
      </div>
    </div>
  </div>
</div>
